/** {*/
  /*margin: 0px;*/
  /*border: 0px;*/
  /*padding: 0px;*/
/*}*/

body {
  padding: 10px;
  background-color: #fff;
  background-image: url('../images/icon.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  color: #000;
  width: 600px;
}

/*p {*/
  /*margin-top: 20px;*/
/*}*/

.hidden {
  display: none;
}

.success {
  color: green;
}

.error {
  color: red;
}

#log {
  height: 150px;
  overflow-y: scroll;
}
